RewriteEngine on
RewriteBase /simple_blog/

AddHandler application/x-httpd-php .xml

RewriteRule \.(gif|jpg|png|css|ico|swf|js|inc\.php|xml)$ - [L]
RewriteRule ^admin/?$ admin.php [NC,L]
RewriteRule ^admin/(\w+)/?$ admin.php?page=$1 [NC,L]
RewriteRule ^admin/(\w+)/([\w-]+) admin.php?page=$1&url=$2 [NC,L]
RewriteRule ^(\w+)/?$ index.php?page=$1
RewriteRule ^(\w+)/([\w-]+) index.php?page=$1&url=$2